* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-image: url(art/4351331.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: fixed;
  color: #b5145a;
  background-color: #f5d0df;
}

@media all and (max-width: 1052px) {
  body {
    background-size: 130%;
  }
}
@media all and (max-width: 800px) {
  body {
    background-size: 180%;
  }
}
@media all and (max-width: 590px) {
  body {
    background-size: 240%;
  }
}
@media all and (max-width: 450px) {
  body {
    background-size: 310%;
  }
}
